/* html */
html{
    font-size: 16px;
}
body{
    width: 100%;
    font-size: 16px;
    font-family: "Unbounded", sans-serif !important;
    background-color: #28282B;
    color:#fff;
}
.hidden{
    opacity: 0;
    filter: blur(1px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.main-block{
    width: 100%;
    background-color: #28282B;
}
.footer{
    width: 100%;
    border-top: 1px solid #fff;
    background-color:#28282B;
}
.container{
    width: 1170px;
}
:root::-webkit-scrollbar{
    display: none;
}
:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    padding: 25px;
    /* margin: 25px 0px; */
}

.block-background{
    width: 75%;
    height: 75%;

    position: absolute;
    z-index: 5;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(0.5px);
    border: none;
}
#background-image-1{
    background-image: url('../img/background-image-1.png');
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    right: 0;
}
#background-image-2{
    background-image: url('../img/background-image-2.png');
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    left: 0;
}
#background-image-3{
    background-image: url('../img/background-image-3.png');
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    right: 0;
}
.block-1{
    width: 50%;
    padding: 50px;
    border-radius: 24px;
    position: relative;
    left: -25%;
    z-index: 10;

    background-color: #fff;
    color: #28282B;
}
.block-2{
    width: 50%;
    padding: 50px;
    border-radius: 24px;
    position: relative;
    right: -25%;
    z-index: 10;

    background-color: #fff;
    color: #28282B;
}
.block-3{
    width: 50%;
    padding: 50px;
    border-radius: 24px;
    position: relative;
    left: -25%;
    z-index: 10;

    background-color: #fff;
    color: #28282B;
}
.fa-brands{
    font-size: 48px;
}
img{
    width: 50%;
}
/* html */
/* ================ */
/* navbar */
.nav-link{
    font-size: 32px;
    /* font-family: "Unbounded", sans-serif; */
    font-weight: 700;
    text-transform: uppercase;
    color:#000;
}
/* navbar */
/* ================ */
/* header */
.header .container{
    height: 100%;
}
.title-section{
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.title {
    font-size: 50px !important;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}
.subtitle{
    font-size: 16px !important;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
/* heaedr */
/* ================ */
/* main-block */
/* about */
.main-block .container{
    padding: 25px 0;

    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    color: #fff;
}
.main-block .container div h1{
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 700 ;
    text-transform: uppercase;
}
.main-block .container div p{
    font-size: 16px;
    font-weight: 300 !important;
}
.social{
    flex-direction: row;
    gap: 25px;
}
.social-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 5px;
    text-decoration: none;
    color:#28282B;
}
.social-link i{
    color:#28282B;
}
/* about */
/* ================ */
/* gallery */
.gallery-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-block: 50px;
}
.carousel-item-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}
.carousel-item-row div{
    width: 100%;
}
.carousel-item img{
    width: 100%;
    /* border-radius: 15px; */
}
/* .show-more-button{
    width: 150px;
    padding: 15px;
    border: 2.5px solid #000;
    background: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}
.show-more-button:hover{
    width: 200px;
    transition: 0.3s;
} */
.my-carousel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    align-items: center;
    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.my-carousel img{
    width: 325px;
    height: 325px;
    aspect-ratio: 1;
    scroll-snap-align: center;
}
.my-carousel::-webkit-scrollbar {
    height: 10px;
    margin-top: 10px;
    width: calc(100% - 48px);
  }
  
  .my-carousel::-webkit-scrollbar-track {
    background: #b1b3b399;
  }
  
  .my-carousel::-webkit-scrollbar-thumb {
    background: #000;
  }
  
  .my-carousel::-webkit-scrollbar-track-piece:start {
    background: #000;
  }
  
/* gallery */
/* ================ */
/* reports */
.report-cards{
    flex-direction: row;
    justify-content: space-between;
}
.card-holder{
    width: 30%;
}
.card{
    border: 1px solid #000 !important;
    border-radius: 24px !important;
    padding: 0 !important;
}
.card img{
    border: 1px solid #000;
    border-radius: 16px;
}
.card-body{
    width: 90%;
}
.card-text{
    text-align: justify;
}
.card-button{
    background: none;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
}
/* reports */
/* main-block */
/* ================ */
/* footer */
.footer .container{
    padding: 50px 0;
}
.footer .container .row{
    padding: 15px 0;
}
.footer-title{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 25px;

    color: #fff;
}
.footer-text{
    padding: 5px 0;
    color: #fff;
}
.col{
    font-size: 16px;
}
.footer i{
    color:#D22B2B;
}
.footer a{
    color: #fff;
}
/* footer */


/* media */
@media (min-width: 1200px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .about{
        height: 100%;
        flex-direction: column;
    }
    .report-cards{
        flex-direction: column;
        align-items: center;
    }
    .card-holder{
        width: 80%;
    }
    .block-1{
        width: 75%;
        left: -12.5%;
    }
    .block-2{
        width: 75%;
        right: -12.5%;
    }
    .block-3{
        width: 75%;
        left: -12.5%;
    }
}

@media (max-width: 768px) {
    .title{
        font-size: 32px !important;
    }
    .subtitle{
        font-size: 16px !important;
    }
    .block{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0px;
    }
    img{
        width: 90%;
    }
    .carousel-item-row{
        flex-wrap: wrap;
    }
    .report-cards{
        flex-direction: column;
        align-items: center;
    }
    .card-holder{
        width: 80%;
    }
    .carousel-item-row{
        gap: 10px
    }
}

@media (max-width: 576px) {
    .title{
        font-size: 24px !important;
    }
    .subtitle{
        font-size: 12px !important;
    }
    .block-1{
        width: 90%;
        left: 0;
        padding: 25px;
    }
    .block-2{
        width: 90%;
        right: 0;
        padding: 25px;
    }
    .block-3{
        width: 90%;
        left: 0;
        padding: 25px;

    }
    img{
        width: 94%;
    }
    .main-block .container{
        width: 85%;
    }
    .second-block .container{
        width: 85%;
    }
    .footer .container{
        width: 85%;
    }
    .report-cards{
        flex-direction: column;
    }
    .main-block .social{
        gap: 5px 15px;
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .block-background{
        width: 80%;
        height: 90%;
    }
    .block-1{
        width: 100%;
        left: auto;
        right: auto;
    }
    .block-2{
        width: 100%;
        left: auto;
        right: auto;
    }
    .block-3{
        width: 100%;
        left: auto;
        right: auto;
    }
    img{
        width: 90%;
    }
    .main-block .container{
        width: 85%;
    }
    .second-block .container{
        width: 85%;
    }
    .footer .container{
        width: 85%;
    }
    .main-block .social{
        flex-wrap: wrap;
    }
    .main-block .social a{
        font-size: 12px;
    }
    .main-block .social i{
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    img{
        width: 90%;
    }
    .main-block .container{
        width: 85%;
    }
    .second-block .container{
        width: 85%;
    }
    .footer .container{
        width: 85%;
    }
}

@media (max-width: 375px) { 
    img{
        width: 90%;
    }
    .main-block .container{
        width: 85%;
    }
    .second-block .container{
        width: 85%;
    }
    .footer .container{
        width: 85%;
    }
    .main-block .container div h1{
        font-size: 18px;
        font-weight: 700;
    }
    .main-block .container div p{
        font-size: 14px;
        font-weight: 500;
    }
}

/* media */