/* html */
html{
    font-size: 16px;
}
body{
    width: 100%;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color:#000;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/back-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-block{
    width: 100%;
}
.footer{
    width: 100%;
    background:#28282B;
}
.container{
    width: 1170px;
}
:root::-webkit-scrollbar{
    display: none;
}
:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/* html */
/* heaedr */
.nav-link{
    font-size: 32px;
    font-family: 'Raleway', bold;
    font-weight: 700;
    text-transform: uppercase;
    color:#000;
}
.header .container{
    height: 100%;
}
.title-section{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.title {
    font-size: 128px;
    font-family: 'Raleway', bold;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.subtitle{
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
/* heaedr */
/* main-block */
.main-block .container{
    padding: 50px 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #000;
}
.main-block .container div{
    padding: 10px 0;
}
.main-block .container div h1{
    font-size: 32px;
    font-family: 'Raleway', bold;
    font-weight: 700;
    text-transform: uppercase;
}
.main-block .container div p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.description-text{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: justify;
}
.download-link{
    font-size: 20px;
    font-family: 'Raleway', bold;
    font-weight: 700;
}
.report-button{
    width: 150px;
    padding: 15px;
    border: 2.5px solid #000;
    background: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}
.report-button:hover{
    width: 200px;
    transition: 0.3s;
}
/* main-block */
/* footer */
.footer .container{
    padding: 50px 0;
}
.footer-title{
    font-size: 32px;
    font-family: 'Raleway', bold;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 25px;
}
.col{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #fff;
}
/* footer */


/* media */
@media (min-width: 1200px) {
    .header .container .title-section .title {
        font-size: 128px;
        font-family: 'Raleway', bold;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }
    .header .container .title-section.subtitle{
        font-size: 32px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }
}

@media (max-width: 1200px) {
    .header .container .title-section .title{
        font-size: 96px;
    }
    .header .container .title-section .subtitle{
        font-size: 24px;
    }
}

@media (max-width: 992px) {
    .header .container .title-section .title{
        font-size: 64px;
    }
    .header .container .title-section .subtitle{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header .container .title-section .title{
        font-size: 48px;
    }
    .header .container .title-section .subtitle{
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .main-block .container{
        width: 475px;
    }
    .footer .container{
        width: 475px;
    }
    .header .container .title-section .title{
        font-size: 32px;
    }
    .header .container .title-section .subtitle{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .main-block .container{
        width: 375px;  
    }
    .footer .container{
        width: 375px;
    }
}

@media (max-width: 400px) {
    .main-block .container{
        width: 325px;
    }
    .footer .container{
        width: 325px;
    }
}

@media (max-width: 375px) { 
    .main-block .container{
        width: 300px;
    }
    .footer .container{
        width: 300px;
    }
    .header .container .title-section .title{
        font-size: 32px;
    }
    .header .container .title-section .subtitle{
        font-size: 12px;
    }
}

@media (max-width: 350px) { 
    .main-block .container{
        width: 275px;
    }
    .footer .container{
        width: 275px;
    }
    .header .container .title-section .title{
        font-size: 32px;
    }
    .header .container .title-section .subtitle{
        font-size: 12px;
    }
    .main-block .container div p{
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }
}
/* media */